.wtl {
    position: relative;
    margin-top: 15rem;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;

}




.button {
    color: black;
    background-color: white;
    border-radius: 1rem;
    font-size: 20px;
    size: 10rem;
    padding: 0.9rem;
    margin-top: 4rem;
    
}

.button:hover{
    cursor: pointer;
    text-decoration: underline;
}